@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bentham&family=Fredericka+the+Great&family=Great+Vibes&family=IM+Fell+English+SC&family=Oswald:wght@200&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.feature {
  max-width: 75vw;
}

.card {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

.card-title {
  font-family: 'Bebas Neue', serif;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px 2px lightgray;
  text-align: center;
}